div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#LayerPodShapkoyNiz
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
}
#LayerPodShapkoy
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
}
#Layer2str
{
   background-color: #0089FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Imgstr2_2
{
   vertical-align: top;
}
#Imgstr2_2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2strVerhSylka
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer2strpodl
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
   animation: slide-right-in 500ms ease-out 0ms 1 normal both;
}
#wb_ImgLogo2
{
   vertical-align: top;
}
#ImgLogo2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer4
{
   background-color: #00A1FF;
   background-image: none;
   border-radius: 0px;
}
#Layer_2
{
   background-color: #0089FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text1_2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1_2 div
{
   text-align: left;
}
#ThemeableButton1
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton1
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton1
{
   color: inherit;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #00A1FF;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#Layer14
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   animation: filter-blur-in 1000ms ease 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_StrelkaLevovo4
{
   vertical-align: top;
}
#StrelkaLevovo4
{
   border: 0px solid transparent;
   border-radius: 0px;
   padding: 0;
   animation: animate-fade-in-right 1000ms linear 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_StrelkaPravo4
{
   vertical-align: top;
}
#StrelkaPravo4
{
   border: 0px solid transparent;
   border-radius: 0px;
   padding: 0;
   animation: animate-fade-in-left 1000ms linear 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: #00A1FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#ThemeableButton2
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton2
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton2
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton2 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton2
{
   color: inherit;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton2 .ui-button
{
   background-color: #00A1FF;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-state-hover, #wb_ThemeableButton2 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-state-active, #wb_ThemeableButton2 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#Layer2
{
   background-color: #0089FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Layer3
{
   background-color: #00A1FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#ThemeableButton3
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton3
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton3
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton3 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton3
{
   color: inherit;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton3 .ui-button
{
   background-color: #00A1FF;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-state-hover, #wb_ThemeableButton3 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-state-active, #wb_ThemeableButton3 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#Layer5
{
   background-color: #0089FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Layer6
{
   background-color: #00A1FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#ThemeableButton4
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton4
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton4
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton4 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton4
{
   color: inherit;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton4 .ui-button
{
   background-color: #00A1FF;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-state-hover, #wb_ThemeableButton4 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-state-active, #wb_ThemeableButton4 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#Layer7
{
   background-color: #0089FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#Layer8
{
   background-color: #00A1FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#ThemeableButton5
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton5
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton5
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton5 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton5
{
   color: inherit;
}
#wb_ThemeableButton5 .ui-corner-all, #wb_ThemeableButton5 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton5 .ui-corner-all, #wb_ThemeableButton5 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton5 .ui-button
{
   background-color: #00A1FF;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton5 .ui-state-hover, #wb_ThemeableButton5 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton5 .ui-state-active, #wb_ThemeableButton5 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#Layer9
{
   background-color: #0089FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#Layer10
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer11
{
   background-color: #00A1FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#ThemeableButton6
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton6
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton6
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton6 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton6
{
   color: inherit;
}
#wb_ThemeableButton6 .ui-corner-all, #wb_ThemeableButton6 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton6 .ui-corner-all, #wb_ThemeableButton6 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton6 .ui-button
{
   background-color: #00A1FF;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton6 .ui-state-hover, #wb_ThemeableButton6 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton6 .ui-state-active, #wb_ThemeableButton6 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #0089FF;
   background-image: none;
   color: #FFFFFF;
}
#Layer12
{
   background-color: #0089FF;
   background-image: none;
   border-radius: 0px;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
