@font-face
{
   font-family: "Century Gothic";
   font-display: swap;
   src: url('../text/CenturyGothic.woff') format('woff'),
        url('../text/CenturyGothic.ttf') format('truetype'),
        url('../text/CenturyGothic.eot') format('embedded-opentype');
}
@keyframes animate-fade-in-left
{
   0% { transform: translate(-100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-right
{
   0% { transform: translate(100px,0px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes filter-blur-in
{
   0% { filter: blur(20px);  }
   100% { filter: blur(0);  }
}
@keyframes slide-left-in
{
   0% { transform: translate(-100%,0px) rotate(1deg) ; opacity: 0; transform-origin: 0 0;  }
   100% { opacity: 1; transform: translate(0px,0px) rotate(0deg) ; transform-origin: 0 0;  }
}
@keyframes slide-right-in
{
   0% { transform: translate(100%,0px) rotate(1deg) ; opacity: 0; transform-origin: 0 0;  }
   100% { opacity: 1; transform: translate(0px,0px) rotate(0deg) ; transform-origin: 0 0;  }
}
a.style1
{
   color: #669DFF;
   text-decoration: underline;
}
a.style1:visited
{
   color: #4169E1;
   text-decoration: none;
}
a.style1:active
{
   color: #FF9400;
   text-decoration: none;
}
a.style1:hover
{
   color: #4169E1;
   text-decoration: none;
}
a.style2
{
   color: #4169E1;
   text-decoration: none;
}
a.style2:visited
{
   color: #4169E1;
   text-decoration: none;
}
a.style2:active
{
   color: #4169E1;
   text-decoration: none;
}
a.style2:hover
{
   color: #1E90FF;
   text-decoration: none;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   --color: #2E74B5;
   background-color: transparent;
}
.style1
{
   font-family: "Century Gothic";
   text-decoration: underline;
   color: #FFFFFF;
   --color: #FFFFFF;
   background-color: transparent;
}
.style2
{
   font-family: "Century Gothic";
   text-decoration: none;
   color: #FFFFFF;
   --color: #FFFFFF;
   background-color: transparent;
}
.Nazvanie
{
   font-family: "Century Gothic";
   font-weight: bold;
   font-size: 35px;
   text-decoration: none;
   color: #FF9400;
   --color: #FF9400;
   background-color: transparent;
   animation-name: filter-blur-in;
   animation-duration: 1000ms;
   animation-delay: 0ms;
   animation-timing-function: linear;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-fill-mode: none;
}
.Text glavnaya
{
   font-family: "Century Gothic";
   font-weight: bold;
   font-size: 35px;
   text-decoration: none;
   color: #FF9400;
   --color: #FF9400;
   background-color: transparent;
}
