div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Imgstr2Text
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: slide-right-in 1000ms ease 1ms 1 normal both;
   -moz-animation: slide-right-in 1000ms ease 1ms 1 normal both;
   animation: slide-right-in 1000ms ease 1ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Imgstr6Text
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: slide-right-in 1000ms ease 0ms 1 normal both;
   -moz-animation: slide-right-in 1000ms ease 0ms 1 normal both;
   animation: slide-right-in 1000ms ease 0ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Imgstr5Text
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: slide-left-in 1000ms ease 1ms 1 normal both;
   -moz-animation: slide-left-in 1000ms ease 1ms 1 normal both;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Imgstr4Text
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: slide-right-in 1000ms ease 1ms 1 normal both;
   -moz-animation: slide-right-in 1000ms ease 1ms 1 normal both;
   animation: slide-right-in 1000ms ease 1ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgstrTDText
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: slide-left-in 1000ms ease 1ms 1 normal both;
   -moz-animation: slide-left-in 1000ms ease 1ms 1 normal both;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_TextBiblioAIST 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_TextBiblioAIST div
{
   text-align: left;
}
#shapkaFon
{
   background-color: transparent;
   background-image: url(../images/shapkaFon.jpg);
   background-repeat: no-repeat;
   background-position: left top;
}
#LayerTextShapka
{
   background-color: transparent;
   background-image: none;
}
#LayerPodShapkoy
{
   background-color: #FF9400;
   background-image: none;
}
#ImgLogo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgUspeh
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgNomer
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgGRB
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: #FF9400;
   background-image: none;
   -webkit-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   -moz-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#ImgGRB2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgGRB3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgGRB4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerNovosnoy
{
   background-color: transparent;
   background-image: none;
}
#Layer2strpodl
{
   background-color: #FF9400;
   background-image: none;
   -webkit-animation: slide-right-in 500ms ease-out 0ms 1 normal both;
   -moz-animation: slide-right-in 500ms ease-out 0ms 1 normal both;
   animation: slide-right-in 500ms ease-out 0ms 1 normal both;
}
#Layer2str
{
   background-color: #0089FF;
   background-image: none;
}
#Imgstr2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer3strpodl
{
   background-color: #FF9400;
   background-image: none;
   -webkit-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   -moz-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#Layer3str
{
   background-color: #0089FF;
   background-image: none;
}
#Imgstr3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer4strpodl
{
   background-color: #FF9400;
   background-image: none;
   -webkit-animation: slide-right-in 500ms ease-out 0ms 1 normal both;
   -moz-animation: slide-right-in 500ms ease-out 0ms 1 normal both;
   animation: slide-right-in 500ms ease-out 0ms 1 normal both;
}
#Layer4str
{
   background-color: #0089FF;
   background-image: none;
}
#Imgstr4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer5strpodl
{
   background-color: #FF9400;
   background-image: none;
   -webkit-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   -moz-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#Layer5str
{
   background-color: #0089FF;
   background-image: none;
}
#Imgstr5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer6strpodl
{
   background-color: #FF9400;
   background-image: none;
   -webkit-animation: slide-right-in 500ms ease-out 0ms 1 normal both;
   -moz-animation: slide-right-in 500ms ease-out 0ms 1 normal both;
   animation: slide-right-in 500ms ease-out 0ms 1 normal both;
}
#Layer6str
{
   background-color: #0089FF;
   background-image: none;
}
#Imgstr6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerNiz
{
   background-color: #00A1FF;
   background-image: none;
}
#LayerPodShapkoyNiz
{
   background-color: #FF9400;
   background-image: none;
}
#ImgGRB5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgGRB6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgGRB8
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgVKlogo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgVKtext
{
   border: 0px solid transparent;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgSaitText
{
   border: 0px solid transparent;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Imggrcbs
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgTelText
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgLogoTel
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerCherta2KD
{
   background-color: #FF9400;
   background-image: none;
   opacity: 0.00;
}
#Layer2strVerhSylka
{
   background-color: transparent;
   background-image: none;
}
#Layer3strVerhSylka
{
   background-color: transparent;
   background-image: none;
}
#LayerCherta3
{
   background-color: #FF9400;
   background-image: none;
   opacity: 0.00;
}
#LayerCherta4
{
   background-color: #FF9400;
   background-image: none;
   opacity: 0.00;
}
#LayerCherta5
{
   background-color: #FF9400;
   background-image: none;
   opacity: 0.00;
}
#LayerCherta6
{
   background-color: #FF9400;
   background-image: none;
   opacity: 0.00;
}
#Layer4strVerhSylka
{
   background-color: transparent;
   background-image: none;
}
#Layer5strVerhSylka
{
   background-color: transparent;
   background-image: none;
}
#Layer6strVerhSylka
{
   background-color: transparent;
   background-image: none;
}
#ImgPolitikaK
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgEmailText
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgEmailLogo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImgGRB7
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ThemeableButton1
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
}
#wb_ThemeableButton1
{
   margin: 0;
}
#wb_ThemeableButton1 .ui-button
{
   margin: 0;
   padding: 0;
   line-height: 37px;
}
#ThemeableButton1
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton1 :hover
{
   color: #2B2B2B;
}
#ThemeableButton1 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 8px;
   border-top-left-radius: 8px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 8px;
   border-top-right-radius: 8px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #0088FE;
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #FF9400;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #FF9400;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-button .ui-icon
{
   background-image: url(images/index-ThemeableButton1-default.png);
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:hover .ui-icon
{
   background-image: url(images/index-ThemeableButton1-hover.png);
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:active .ui-icon
{
   background-image: url(images/index-ThemeableButton1-active.png);
   background-position: 0 0;
}
#wb_ThemeableButton1 .ui-visual-focus
{
   box-shadow: none;
}
#LayerTDstr
{
   background-color: transparent;
   background-image: none;
}
#LayerTDstrVerhSylka
{
   background-color: #0089FF;
   background-image: none;
}
#LayerTDstrpodl
{
   background-color: #FF9400;
   background-image: none;
   -webkit-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   -moz-animation: slide-left-in 500ms ease-out 0ms 1 normal both;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#LayerChertaTD
{
   background-color: #FF9400;
   background-image: none;
   opacity: 0.00;
}
#ImgstrTD
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: slide-left-in 1000ms ease 1ms 1 normal both;
   -moz-animation: slide-left-in 1000ms ease 1ms 1 normal both;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
