div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Imgstr1Text
{
   vertical-align: top;
}
#Imgstr1Text
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1strpodl
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#wb_Image001
{
   vertical-align: top;
}
#Image001
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_TextBiblioAIST 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_TextBiblioAIST div
{
   text-align: left;
}
#shapkaFon
{
   background-color: transparent;
   background-image: url('../images/shapkaFon.jpg');
   background-repeat: no-repeat;
   background-position: left top;
   border-radius: 0px;
}
#LayerTextShapka
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#LayerPodShapkoy
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
}
#wb_ImgLogo
{
   vertical-align: top;
}
#ImgLogo
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgUspeh
{
   vertical-align: top;
}
#ImgUspeh
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgNomer
{
   vertical-align: top;
}
#ImgNomer
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgGRB
{
   vertical-align: top;
}
#ImgGRB
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgGRB2
{
   vertical-align: top;
}
#ImgGRB2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgGRB3
{
   vertical-align: top;
}
#ImgGRB3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgGRB4
{
   vertical-align: top;
}
#ImgGRB4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerNovosnoy
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#LayerNiz
{
   background-color: #00A1FF;
   background-image: none;
   border-radius: 0px;
}
#LayerPodShapkoyNiz
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
}
#wb_ImgGRB5
{
   vertical-align: top;
}
#ImgGRB5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgGRB6
{
   vertical-align: top;
}
#ImgGRB6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgGRB8
{
   vertical-align: top;
}
#ImgGRB8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgPolitikaK
{
   vertical-align: top;
}
#ImgPolitikaK
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImgGRB7
{
   vertical-align: top;
}
#ImgGRB7
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ThemeableButton1
{
   font-family: "Century Gothic";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton1
{
   border-radius: 8px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton1
{
   color: inherit;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 8px;
   border-top-left-radius: 8px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 8px;
   border-top-right-radius: 8px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #0088FE;
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #FF9400;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #FF9400;
   background-image: none;
   color: #FFFFFF;
}
/* КУКИ */
#cookie_notification{
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 970px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 25px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

#cookie_notification p{
  margin: 0;
  font-size: 0.785rem;
  text-align: center;
  color: $color_text;
}


@media (min-width: 576px){
  #cookie_notification.show{
    display: flex;
    align-items: center;
  }
  .cookie_accept{
    margin: 0 0 0 25px;
  }
}

@media (max-width: 575px){
  #cookie_notification.show{
    display: block;
    text-align: left;
  }
  .cookie_accept{
    margin: 10px 0 0 0;
  }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #605e5ec4;
    border: none;
    color: #ededed;
    text-decoration: none;
    padding: 15px 40px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    max-width: 100%;
    transition: all .1s cubic-bezier(0.4, 0, 1, 1);
}

.button:active,.button:focus {
    outline: none;
    color: #fff;
    background-color: #0089FF
}

.button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0089FF
}

.button:disabled {
    cursor: not-allowed
}
#wb_Image002
{
   vertical-align: top;
}
#Image002
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image003
{
   vertical-align: top;
}
#Image003
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image004
{
   vertical-align: top;
}
#Image004
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image005
{
   vertical-align: top;
}
#Image005
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image006
{
   vertical-align: top;
}
#Image006
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2strpodl
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#Layer3strpodl
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#Layer4strpodl
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#Layer5strpodl
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#Layer6strpodl
{
   background-color: #FF9400;
   background-image: none;
   border-radius: 0px;
   animation: slide-left-in 500ms ease-out 0ms 1 normal both;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text1_1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.00;
   text-align: left;
}
#wb_Text1_1 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   animation: slide-left-in 1000ms ease 1ms 1 normal both;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text2_2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.00;
   text-align: left;
}
#wb_Text2_2 div
{
   text-align: left;
}
#wb_Text3_3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.00;
   text-align: left;
}
#wb_Text3_3 div
{
   text-align: left;
}
#wb_Text4_4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.00;
   text-align: left;
}
#wb_Text4_4 div
{
   text-align: left;
}
#wb_Text5_5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.00;
   text-align: left;
}
#wb_Text5_5 div
{
   text-align: left;
}
#wb_Text6_6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   opacity: 0.00;
   text-align: left;
}
#wb_Text6_6 div
{
   text-align: left;
}
#wb_Text16+ 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16+ div
{
   text-align: left;
}
#wb_ImageVKico
{
   vertical-align: top;
}
#ImageVKico
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageMAXico
{
   vertical-align: top;
}
#ImageMAXico
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageGRCBSico
{
   vertical-align: top;
}
#ImageGRCBSico
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
