div#container
{
   width: 882px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: scroll;
   overflow-y: scroll;
}
#LayerOkno93
{
   background-color: #FFFFFF;
   background-image: none;
   border: 5px solid transparent;
   border-radius: 10px;
   overflow: visible;
}
.ui-dialog
{
   border-width: 0;
   padding: 0;
   overflow: visible;
}
.ui-widget-content
{
   border-width: 0;
   padding: 0;
}
#wb_Text220 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text220 div
{
   text-align: left;
}
#wb_Text221 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text221 div
{
   text-align: left;
}
#wb_Text222 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text222 div
{
   text-align: left;
}
#wb_Text223 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text223 div
{
   text-align: left;
}
#wb_Text224 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text224 div
{
   text-align: left;
}
#wb_Text225 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text225 div
{
   text-align: left;
}
#wb_Text226 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text226 div
{
   text-align: left;
}
#wb_Text227 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text227 div
{
   text-align: left;
}
