div#container
{
   width: 882px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: scroll;
   overflow-y: scroll;
}
#LayerOkno117 .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 5px solid transparent;
   border-radius: 10px;
   overflow: visible;
}
#LayerOkno117.fade
{
   opacity: 0;
   -webkit-transition: opacity .15s linear;
   transition: opacity .15s linear;
}
#LayerOkno117.fade.in
{
   opacity: 1;
}
#LayerOkno117.modal
{
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   z-index: 1050;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#LayerOkno117 .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#LayerOkno117 .modal-open
{
   overflow: hidden;
}
#LayerOkno117 .modal-dialog
{
   position: relative;
   width: 906px;
   margin: 30px auto;
}
#LayerOkno117 .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#LayerOkno117 .modal-header
{
   min-height: 16px;
   padding: 15px 15px 15px 15px;
   border-bottom: 1px solid #CCCCCC;
}
#LayerOkno117 .modal-footer
{
   padding: 15px 15px 15px 15px;
   border-top: 1px solid #CCCCCC;
}
#LayerOkno117 .modal-body
{
   position: relative;
   width: 906px;
   height: 1243px;
}
#LayerOkno117 .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #CCCCCC;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 15px 15px 0px 0px;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   -webkit-transition: opacity .15s linear;
   transition: opacity .15s linear;
}
.modal-backdrop.in
{
   opacity: 0.5;
}
.modal-open
{
   overflow: hidden;
}
#LayerOkno117 .modal-title
{
   color: #CCCCCC;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#wb_Text370 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text370 div
{
   text-align: left;
}
#wb_Text371 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text371 div
{
   text-align: left;
}
#wb_Text372 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text372 div
{
   text-align: left;
}
#wb_Text373 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text373 div
{
   text-align: left;
}
#wb_Text374 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text374 div
{
   text-align: left;
}
#wb_Text375 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text375 div
{
   text-align: left;
}
#wb_Text376 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text376 div
{
   text-align: left;
}
#wb_Text377 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text377 div
{
   text-align: left;
}
#wb_Text378 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text378 div
{
   text-align: left;
}
#wb_Text379 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text379 div
{
   text-align: left;
}
#wb_Text380 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text380 div
{
   text-align: left;
}
#wb_Text381 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text381 div
{
   text-align: left;
}
#wb_Text382 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text382 div
{
   text-align: left;
}
#wb_Text383 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text383 div
{
   text-align: left;
}
