div#container
{
   width: 882px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: scroll;
   overflow-y: scroll;
}
#LayerOkno95
{
   background-color: #FFFFFF;
   background-image: none;
   border: 5px solid transparent;
   border-radius: 10px;
   overflow: visible;
}
.ui-dialog
{
   border-width: 0;
   padding: 0;
   overflow: visible;
}
.ui-widget-content
{
   border-width: 0;
   padding: 0;
}
#wb_Text228 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text228 div
{
   text-align: left;
}
#wb_Text229 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text229 div
{
   text-align: left;
}
#wb_Text230 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text230 div
{
   text-align: left;
}
#wb_Text231 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text231 div
{
   text-align: left;
}
#wb_Text232 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text232 div
{
   text-align: left;
}
#wb_Text233 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text233 div
{
   text-align: left;
}
#wb_Text234 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text234 div
{
   text-align: left;
}
#wb_Text235 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text235 div
{
   text-align: left;
}
#wb_Text236 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text236 div
{
   text-align: left;
}
#wb_Text237 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text237 div
{
   text-align: left;
}
#wb_Text238 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text238 div
{
   text-align: left;
}
#wb_Text239 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text239 div
{
   text-align: left;
}
#wb_Text240 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text240 div
{
   text-align: left;
}
#wb_Text241 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text241 div
{
   text-align: left;
}
#wb_Text243 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text243 div
{
   text-align: left;
}
#wb_Text242 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text242 div
{
   text-align: left;
}
