div#container
{
   width: 882px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-x: scroll;
   overflow-y: scroll;
}
#LayerOkno81
{
   background-color: #FFFFFF;
   background-image: none;
   border: 5px solid transparent;
   border-radius: 10px;
   overflow: visible;
}
.ui-dialog
{
   border-width: 0;
   padding: 0;
   overflow: visible;
}
.ui-widget-content
{
   border-width: 0;
   padding: 0;
}
#wb_Text192 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text192 div
{
   text-align: left;
}
#wb_Text193 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text193 div
{
   text-align: left;
}
#wb_Text194 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text194 div
{
   text-align: left;
}
#wb_Text195 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text195 div
{
   text-align: left;
}
#wb_Text196 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text196 div
{
   text-align: left;
}
#wb_Text197 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text197 div
{
   text-align: left;
}
#wb_Text198 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text198 div
{
   text-align: left;
}
#wb_Text199 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text199 div
{
   text-align: left;
}
#wb_Text201 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text201 div
{
   text-align: left;
}
#wb_Text200 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text200 div
{
   text-align: left;
}
